<!-- Navbar -->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" [ngClass]="{'is-dark': isDarkTheme, 'is-light': !isDarkTheme}">
    <div class="navbar-brand">
        <!-- Mobile navbar -->
        <div class="navbar-item is-hidden-tablet">
            
            <a (click)="currentView = 'list'" class="button pl-2 pr-2 mr-3" [ngClass]="{'is-dark': isDarkTheme, 'is-light': !isDarkTheme}">
                <img class="is-64x64" src="assets/logo_dark.png">
            </a>

            <a (click)="createProposalClick()" class="button" [ngClass]="{'is-dark': isDarkTheme, 'is-light': !isDarkTheme}">
                <span class="icon">
                    <i class="material-symbols-rounded">add_circle</i>
                </span>
            </a>
            <a (click)="isSpanish = !isSpanish" class="button" [ngClass]="{'is-dark': isDarkTheme, 'is-light': !isDarkTheme}">
                <span class="icon">
                    <i *ngIf="isSpanish" class="material-symbols-rounded">language_spanish</i>
                    <i *ngIf="!isSpanish" class="material-symbols-rounded">language_us</i>
                </span>
            </a>
            <a *ngIf="canCreate" (click)="currentView = 'changeProposalList'" class="button" [ngClass]="{'is-dark': isDarkTheme, 'is-light': !isDarkTheme}">
                <span class="icon">
                    <i class="material-symbols-rounded">list</i>
                </span>
            </a>
            <!-- TODO: Enable this when light theme is well made -->
            <!-- <a (click)="isDarkTheme = !isDarkTheme" class="button" [ngClass]="{'is-dark': isDarkTheme, 'is-light': !isDarkTheme}">
                <span class="icon">
                    <i *ngIf="isDarkTheme" class="material-symbols-rounded">light_mode</i>
                    <i *ngIf="!isDarkTheme" class="material-symbols-rounded">dark_mode</i>
                </span>
            </a> -->
        </div>

        <!-- Bigger than mobile navbar -->
        <div class="navbar-item is-hidden-mobile">
            
            <a (click)="currentView = 'list'" class="button mr-2" [ngClass]="{'is-dark': isDarkTheme, 'is-light': !isDarkTheme}">
                <img class="icon is-64x64" src="assets/logo_dark.png">
                <span class="title is-5">AVKTrendify</span>
            </a>
            
            <a (click)="createProposalClick()" class="button" [ngClass]="{'is-dark': isDarkTheme, 'is-light': !isDarkTheme}">
                <span class="icon">
                    <i class="material-symbols-rounded">add_circle</i>
                </span>
                <span>Crear propuesta</span>
            </a>
            <a (click)="isSpanish = !isSpanish" class="button" [ngClass]="{'is-dark': isDarkTheme, 'is-light': !isDarkTheme}">
                <span class="icon">
                    <i *ngIf="isSpanish" class="material-symbols-rounded">language_spanish</i>
                    <i *ngIf="!isSpanish" class="material-symbols-rounded">language_us</i>
                </span>
                <span>Idioma</span>
            </a>
            <a *ngIf="canCreate" (click)="currentView = 'changeProposalList'" class="button" [ngClass]="{'is-dark': isDarkTheme, 'is-light': !isDarkTheme}">
                <span class="icon">
                    <i class="material-symbols-rounded">list</i>
                </span>
                <span>Sugerencias</span>
            </a>
            <!-- TODO: Enable this when light theme is well made -->
            <!-- <a (click)="isDarkTheme = !isDarkTheme" class="button" [ngClass]="{'is-dark': isDarkTheme, 'is-light': !isDarkTheme}">
                <span class="icon">
                    <i *ngIf="isDarkTheme" class="material-symbols-rounded">light_mode</i>
                    <i *ngIf="!isDarkTheme" class="material-symbols-rounded">dark_mode</i>
                </span>
            </a> -->
        </div>

        <a role="button" (click)="showUserModal = true" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <div *ngIf="username"  class="is-size-5">
                {{ username.charAt(0).toUpperCase() }}
            </div>
            <div *ngIf="!username" class="icon">
                <i class="material-symbols-rounded">login</i>
            </div>
            
            <!-- <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span> -->
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="icon">
                    <i class="material-symbols-rounded">account_box</i>
                </div>
                <span>{{ username }}</span>
            </div>
        </div>
    </div>
</nav>

<!-- User modal -->
<div class="modal" [ngClass]="{'is-active': showUserModal === true}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p *ngIf="username" class="modal-card-title">{{ username }}</p>
        <a class="button" (click)="showUserModal = false">
            <span class="icon">
                <i class="material-symbols-rounded">close</i>
            </span>
        </a>       
      </header>
      <section *ngIf="!username" class="modal-card-body">
        <span>Para votar en una propuesta, debes iniciar sesion o registrarte si no tienes una cuenta.</span>
        <!-- <a class="button">Logout</a> -->
      </section>
      <footer class="modal-card-foot">
            <!-- Not logged in buttons -->
            <div class="buttons">
                <a *ngIf="!username" (click)="openLoginModal('list')" class="button is-fullwidth is-success">
                    <span class="icon">
                        <i class="material-symbols-rounded">login</i>
                    </span>
                    <span>Iniciar sesion</span>
                </a>
                <a *ngIf="!username" (click)="openAdminLoginModal('list')" class="button is-fullwidth is-warning">
                    <span class="icon">
                        <i class="material-symbols-rounded">admin_panel_settings</i>
                    </span>
                    <span>Iniciar sesion como administrador</span>
                </a>
                <a *ngIf="!username" (click)="openRegistrationModal()" class="button is-fullwidth is-primary">
                    <span class="icon">
                        <i class="material-symbols-rounded">app_registration</i>
                    </span>
                    <span>Registrarse</span>
                </a>
                <!-- Logout button -->
                <a *ngIf="username" (click)="logoutButtonClick()" class="button is-fullwidth">
                    <span class="icon">
                        <i class="material-symbols-rounded">logout</i>
                    </span>
                    <span>Cerrar sesion</span>
                </a>
            </div>
      </footer>
    </div>
</div>

<!-- Login modal -->
<div class="modal" [ngClass]="{'is-active': showLoginModal === true}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ (isLoginModal ? "Inicie sesion para continuar" : "Registracion") }} </p>
        <!-- <button class="delete" aria-label="close"></button> -->
      </header>
      <section class="modal-card-body">

        <div *ngIf="errorMessage" class="message is-error">
            {{errorMessage}}
        </div>

        <form class="form">
            <div class="field">
                <div class="control is-expanded">
                    <input [(ngModel)]="username" name="itemTitle" class="input" type="text" placeholder="Nombre de usuario">
                </div>
            </div>
            <div *ngIf="showPassword" class="field">
                <div class="control is-expanded">
                    <input [(ngModel)]="password" name="itemTitle" class="input" type="password" placeholder="Contraseña">
                </div>
            </div>
        </form>

      </section>
      <footer class="modal-card-foot">
        <div class="buttons is-right">
          <button (click)="loginClick()" class="button is-success">{{ (isLoginModal ? "Iniciar sesion" : "Registrarse") }}</button>
          <button (click)="cancelLoginClick()" class="button">Cancel</button>
        </div>
      </footer>
    </div>
</div>

<!-- Proposal list-->
<div *ngIf="currentView == 'list'" class="block p-3">

    <a *ngFor="let prop of proposals" class="box mb-2 is-hoverable is-shadowless" [ngClass]="{'theme-dark has-background-dark': isDarkTheme, 'theme-light has-background-light': !isDarkTheme}">
        <div class="columns is-mobile is-gapless">
            <div (click)="loadProposal(prop, false)" class="column is-two-thirds-mobile">
                <span style="white-space: nowrap; text-wrap: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;">
                    {{prop.name ?? "Sin nombre"}}
                </span>
                <span class="is-size-7" style="white-space: nowrap; text-wrap: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;">
                    {{prop.id}}
                </span>
                <span class="is-size-7">{{prop.createdBy?.username}}</span>
            </div>
            <div class="column is-one-third-mobile">
                <div class="buttons has-addons is-right">
                    <button *ngIf="prop.createdBy?.username === username" (click)="loadProposal(prop, true)" class="button">
                        <span class="icon">
                            <i class="material-symbols-rounded">edit</i>
                        </span>
                    </button>
                    <button (click)="loadProposalList()" class="button">
                        <span class="icon">
                            <i class="material-symbols-rounded">ios_share</i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </a>
</div>

<!-- Proposal viewer & editor -->
<div *ngIf="currentView === 'editor' || currentView === 'viewer'" class="block p-3">

  <article class="media">
    <div class="media-content">
        <div *ngIf="currentView === 'editor'" class="box has-background-black is-shadowless">
            <span class="">Añadir articulos</span>
            <!-- Search items form -->
            <form class="form">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input [(ngModel)]="itemTitle" name="itemTitle" class="input" type="text" placeholder="Buscar articulos">
                    </div>
                    <div class="control">
                        <button type="submit" (click)="searchItems()" class="button is-info">
                            <span class="icon">
                                <i class="material-symbols-rounded">search</i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
    
            <!-- Search item result grid -->
            <div class="grid is-col-min-5 column-gap-1 mt-2">
                <div *ngFor="let item of searchItemsResults" class="cell">
                    <app-avakin-item-viewer (click)="selectItem(item)" [item]="item" [showTitle]="true" [showRemoveButton]="false" [isSpanish]="isSpanish"></app-avakin-item-viewer>
                </div>
            </div>

            <!-- Search items result pagination controls -->
            <div *ngIf="totalPages > 1" class="buttons has-addons is-centered">
                <button (click)="prevPageButtonClick()" [disabled]="currentPage === 0" class="button">&lt;</button>
                <button class="button">{{ currentPage + 1 }}/{{ totalPages }}</button>
                <button (click)="nextPageButtonClick()" [disabled]="currentPage + 1 === totalPages" class="button">&gt;</button>
            </div>
        </div>
     
        
        <div class="box is-shadowless" [ngClass]="{'theme-dark': isDarkTheme, 'theme-light': !isDarkTheme}">
            
            <!-- Top header of viewer/editor -->
            <div class="level is-mobile">

                <div class="level-left">
                    <span *ngIf="currentView === 'viewer'" class="is-size-5">{{proposal.name}}</span>
                </div>
                <div class="level-right">
                    <!-- Toolbar -->
                    <div class="buttons is-right">
                        <button (click)="saveButtonClick()" *ngIf="currentView === 'editor'" class="button is-success">
                            <span class="icon">
                                <i class="material-symbols-rounded">save</i>
                            </span>
                        </button>
                        <button (click)="deleteProposalButtonClick()" *ngIf="currentView === 'editor' && proposal.id" class="button is-danger">
                            <span class="icon">
                                <i class="material-symbols-rounded">delete</i>
                            </span>
                        </button>
                        <button (click)="cancelButtonClick()" *ngIf="!proposal.id" class="button">
                            <span class="icon">
                                <i class="material-symbols-rounded">close</i>
                            </span>
                        </button>
                        <button (click)="cancelButtonClick()" *ngIf="proposal.id" class="button">
                            <span class="icon">
                                <i class="material-symbols-rounded">close</i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="currentView === 'editor'" class="field">
                <div class="label" for="">
                    Nombre
                </div>
                <div class="control">
                    <input [(ngModel)]="proposal.name" name="proposalName" class="input" type="text" placeholder="Nombre de la propuesta">
                </div>
            </div>

            <!-- Editor selected item grid -->
            <strong>Articulos seleccionados ({{ proposal.matchups.length }})</strong>

            <div *ngIf="currentView === 'editor'" class="grid mt-2">
                <div *ngFor="let pairing of proposal.matchups" class="cell">
                    <app-avakin-item-viewer [item]="pairing.item" [showTitle]="true" [showRemoveButton]="true" [isSpanish]="isSpanish"></app-avakin-item-viewer>
                </div>
            </div>

            <!-- Viewer selected item list -->
            <div *ngIf="currentView === 'viewer'" class="pt-2 pb-2">
                <article *ngFor="let pairing of proposal.matchups" class="media">
                    <div class="media-left">
                        <app-avakin-item-viewer [item]="pairing.item" [showTitle]="false" [showRemoveButton]="false" [isSpanish]="isSpanish"></app-avakin-item-viewer>
                    </div>

                    <div class="media-content">

                        <span class="title is-6">
                            {{ isSpanish ? pairing.item.title_es : pairing.item.ti }}
                        </span>
                        <br/>
                        <a (click)="nameChangeSuggestionClick(pairing)" *ngIf="isSpanish" class="icon-text has-text-warning is-size-7">
                            <span class="icon"><i class="material-symbols-rounded is-size-6">report</i></span>
                            <span>Sugerir cambio</span>
                        </a>
                        

                        <div *ngIf="currentView === 'viewer' && proposal.createdBy?.username != username">
                            <button *ngIf="!userHasItem(pairing)" class="button is-fullwidth" (click)="voteButtonClick(pairing.item)">
                                <span class="icon">
                                    <i class="material-symbols-rounded">check_box_outline_blank</i>
                                </span>
                                <span>No lo tengo</span>
                            </button>
                            <button *ngIf="userHasItem(pairing)" class="button is-fullwidth is-success" (click)="voteButtonClick(pairing.item)">
                                <span class="icon">
                                    <i class="material-symbols-rounded">select_check_box</i>
                                </span>
                                <span>Lo tengo</span>
                            </button>
                        </div>
                        <br/>
                        Jugadores que lo tienen:
                        <div class="content">
                            <ul>
                                <li *ngFor="let user of pairing.users">{{user.username}}</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

            <div *ngIf="proposal.id && proposal.createdBy?.username === username" class="level is-mobile">
                <span style="overflow: hidden; text-overflow: ellipsis; text-wrap: nowrap;">
                    {{ proposal.id }}
                </span>
                <button class="button">
                    <span class="icon">
                        <i class="material-symbols-rounded">content_copy</i>
                    </span>
                </button>
            </div>

            <div *ngIf="proposal.id" class="level is-mobile">
                <div class="level-left">
                    <span>Creado por: {{ proposal.createdBy?.username }}</span>
                </div>
                <div class="level-right">
                    {{ getDateAsString(proposal.createdOn!) }}
                </div>
            </div>
        </div>
        
    </div>

  </article>
</div>

<!-- Name change proposal list -->
<div class="block p-3">
    <app-name-change-proposal-list [show]="currentView === 'changeProposalList'"></app-name-change-proposal-list>
</div>

<!-- Name change proposal editor modal -->
<app-name-change-proposal-editor [show]="currentView === 'changeProposalEditor'"></app-name-change-proposal-editor>