<!-- Header -->
<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <button id="connect" class="button is-dark mr-2" type="submit">
                <span class="icon">
                    <i id="connectedIcon" class="material-symbols-rounded">comments_disabled</i>
                </span>
            </button>
            <!-- Comment below for release -->
            <a (click)="createProposalClick()" id="test" class="button is-dark mr-2">
                Crear
            </a>
            <a (click)="isLoginModal = false; showLoginModal = true;" id="register" class="button is-dark mr-2" type="submit">
                Registrarse
            </a>

            <!-- End of testing code -->
<!--            <span class="is-size-5 is-uppercase is-text-weight-medium">DetAlert</span>-->
        </div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <span class="icon">
                    <i class="material-symbols-rounded">account_box</i>
                </span>
                <span id="username">{{username}}</span>
            </div>
        </div>
    </div>
</nav>

<!-- Login -->
<div class="modal" [ngClass]="{'is-active': showLoginModal === true}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ (isLoginModal ? "Inicie sesion para continuar" : "Registracion") }} </p>
        <!-- <button class="delete" aria-label="close"></button> -->
      </header>
      <section class="modal-card-body">

        <div *ngIf="errorMessage" class="message is-error">
            {{errorMessage}}
        </div>

        <form class="form">
            <div class="field">
                <div class="control is-expanded">
                    <input [(ngModel)]="username" name="itemTitle" class="input" type="text" placeholder="Nombre de usuario">
                </div>
            </div>
            <div *ngIf="showPassword" class="field">
                <div class="control is-expanded">
                    <input [(ngModel)]="password" name="itemTitle" class="input" type="password" placeholder="Contraseña">
                </div>
            </div>
        </form>

      </section>
      <footer class="modal-card-foot">
        <div class="buttons is-right">
          <button (click)="loginClick()" class="button is-success">{{ (isLoginModal ? "Iniciar sesion" : "Registrarse") }}</button>
          <button (click)="cancelLoginClick()" class="button">Cancel</button>
        </div>
      </footer>
    </div>
</div>

<!-- Proposal list-->
<div *ngIf="currentView == 'list'" class="block p-3">

    <a *ngFor="let prop of proposals" class="box is-hoverable is-shadowless has-background-dark">
        <div class="columns is-mobile is-gapless">
            <div (click)="loadProposal(prop, false)" class="column is-two-thirds-mobile">
                <span style="white-space: nowrap; text-wrap: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;">
                    {{prop.name ?? "Sin nombre"}}
                </span>
                <span class="is-size-7" style="white-space: nowrap; text-wrap: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;">
                    {{prop.id}}
                </span>
                <span class="is-size-7">{{prop.createdBy?.username}}</span>
            </div>
            <div class="column is-one-third-mobile">
                <div class="buttons has-addons is-right">
                    <button *ngIf="prop.createdBy?.username === username" (click)="loadProposal(prop, true)" class="button">
                        <span class="icon">
                            <i class="material-symbols-rounded">edit</i>
                        </span>
                    </button>
                    <button (click)="loadProposalList()" class="button">
                        <span class="icon">
                            <i class="material-symbols-rounded">ios_share</i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </a>
</div>

<!-- Proposal editor -->
<div *ngIf="currentView === 'editor' || currentView === 'viewer'" class="block p-3">

  <article class="media">
    <div class="media-content">
        <div *ngIf="currentView === 'editor'" class="box has-background-dark is-shadowless">
            <span class="">Añadir articulos</span>
            <!-- Search items form -->
            <form class="form">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input [(ngModel)]="itemTitle" name="itemTitle" class="input" type="text" placeholder="Buscar articulos">
                    </div>
                    <div class="control">
                        <button type="submit" (click)="searchItems()" class="button is-info">
                            <span class="icon">
                                <i class="material-symbols-rounded">search</i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
    
            <div class="grid is-col-min-5 column-gap-1 mt-2">
                <div *ngFor="let item of searchItemsResults" class="cell">
                    <div (click)="selectItem(item)" class="box has-background-white is-shadowless has-text-centered pl-2 pr-2" style="height: 14rem;">
                        <img [src]="item.p_u" style="height: 7rem;" />
                        <br/>
                        <span class="has-text-centered has-text-black is-size-7">{{ item.ti }}</span>
                        <br/>
                        <span class="has-text-centered has-text-black is-size-7">
                            <span *ngIf="item.ca === 'Coins'">&#x1FA99;</span>
                            <span *ngIf="item.ca === 'Crowns'" style="color: purple;" >&#x2655;</span>
                            {{ item.co }}
                        </span>
                    </div>
                </div>
            </div>

            <div *ngIf="totalPages > 1" class="buttons has-addons is-centered">
                <button (click)="prevPageButtonClick()" [disabled]="currentPage === 0" class="button">&lt;</button>
                <button class="button">{{ currentPage + 1 }}/{{ totalPages }}</button>
                <button (click)="nextPageButtonClick()" [disabled]="currentPage + 1 === totalPages" class="button">&gt;</button>
            </div>
        </div>
     
        <div class="box is-shadowless has-background-black">
            <div class="buttons has-addons is-right">
                <button (click)="saveButtonClick()" *ngIf="currentView === 'editor'" class="button is-info">Guardar</button>
                <button (click)="cancelButtonClick()" *ngIf="!proposal.id" class="button is-danger">Cancelar</button>
                <button (click)="deleteProposalButtonClick()" *ngIf="currentView === 'editor' && proposal.id" class="button is-danger">Borrar</button>
                <button (click)="cancelButtonClick()" *ngIf="proposal.id" class="button">X</button>
            </div>

            <strong>Articulos seleccionados ({{ proposal.matchups.length }})</strong>

            <div *ngIf="currentView === 'editor'" class="grid">
                <div *ngFor="let pairing of proposal.matchups" class="cell">
                    <div class="box has-background-white is-shadowless has-text-centered pl-2 pr-2" style="height: 16rem;">
                        <img [src]="pairing.item.p_u" style="height: 7rem;" />
                        <br/>
                        <span class="has-text-centered has-text-black is-size-7">{{ pairing.item.ti }}</span>
                        <br/>
                        <p class="has-text-centered has-text-black is-size-7">
                            <span *ngIf="pairing.item.ca === 'Coins'">&#x1FA99;</span>
                            <span style="color: purple;" *ngIf="pairing.item.ca === 'Crowns'">&#x2655;</span>
                            {{ pairing.item.co }}
                        </p>
                        <button class="button is-danger" (click)="removeButtonClick(pairing.item)">Remover</button>
                    </div>
                </div>
            </div>

            <div *ngIf="currentView === 'viewer'" class="pt-2 pb-2">
                <article *ngFor="let pairing of proposal.matchups" class="media">
                    <div class="media-left">
                        <div class="box has-background-white is-shadowless has-text-centered pl-2 pr-2" style="height: 12rem;">
                            <img [src]="pairing.item.p_u" style="height: 7rem;" />
                            <br/>
                            <p class="has-text-centered has-text-black is-size-7">
                                <span *ngIf="pairing.item.ca === 'Coins'">&#x1FA99;</span>
                                <span style="color: purple;" *ngIf="pairing.item.ca === 'Crowns'">&#x2655;</span>
                                {{ pairing.item.co }}
                            </p>
                        </div>
                    </div>

                    <div class="media-content">
                        <span class="has-text-centered"><strong>{{ pairing.item.ti }}</strong></span>
                        <br/>
                        <button *ngIf="currentView === 'viewer' && proposal.createdBy?.username != username" class="button is-fullwidth is-success" (click)="voteButtonClick(pairing.item)">Lo tengo!</button>
                        <br/>
                        <strong>Jugadores que lo tienen:</strong>
                        <div class="content">
                            <ul>
                                <li *ngFor="let user of pairing.users">{{user.username}}</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

            <div *ngIf="proposal.id && proposal.createdBy?.username === username" class="level is-mobile">
                <span style="overflow: hidden; text-overflow: ellipsis; text-wrap: nowrap;">
                    {{ proposal.id }}
                </span>
                <button class="button">
                    <span class="icon">
                        <i class="material-symbols-rounded">content_copy</i>
                    </span>
                </button>
            </div>

            <div *ngIf="proposal.id" class="level is-mobile">
                <div class="level-left">
                    <span>{{ proposal.createdBy?.username }}</span>
                </div>
                <div class="level-right">
                    {{ proposal.createdOn }}
                </div>
            </div>
        </div>
        
    </div>

  </article>
</div>
