<div class="box has-background-white is-shadowless has-text-centered pl-2 pr-2 pt-2" [ngStyle]="{'height: 16rem;': showRemoveButton, 'height: 12rem;': !showRemoveButton}">
    <!-- Gender indicator -->
    <div class="content has-text-right m-0 p-0">
        &nbsp; <!-- This keeps the spacing consistent when there are no gender indicator -->
        <span *ngIf="item.ty === 'male01'" class="material-symbols-rounded has-text-link is-size-6">male</span>
        <span *ngIf="item.ty === 'female01'" class="material-symbols-rounded has-text-danger is-size-6">female</span>
        <span *ngIf="item.ty === 'animation'" class="material-symbols-rounded has-text-primary is-size-6">animation</span>
    </div>
    
    <!-- Item image -->
    <img [src]="item.p_u" style="height: 7rem;" />
    
    <!-- Title -->
    <span *ngIf="showTitle" class="has-text-centered has-text-black is-size-7">
        <br/>
        <span class="has-text-black is-size-7">{{ isSpanish ? item.title_es : item.ti }}</span>
    </span>
    <br/>

    <!-- Cost -->
    <p class="has-text-centered has-text-black is-size-7 mt-2">
        <span *ngIf="item.ca === 'Coins'">🪙 {{ item.co }}</span>
        <span *ngIf="item.ca === 'Crowns'" class="icon-text">
            <img class="icon is-16x16" src="assets/mdi--crown.svg" style="height: 16px; width: 16px; margin-top: 3px;">
            <span class="is-size-7">{{ item.co }}</span>
        </span>
    </p>
    <button *ngIf="showRemoveButton" class="button is-danger mt-2" (click)="removeButtonClick()">Remover</button>
</div>
